@import "../../styles/layout.scss";

.footer {
  &__brand {
    @include flex-row(center, space-between);
    margin-bottom: 28px;

    > p {
      color: #9E9B9B;
    }
  }

  &__main {
    @include flex-row(flex-start, space-between);

    &-logo {
      width: 40%;
      text-decoration: none;

      > img {
        object-fit: contain;
        width: 200px;
        margin: 0 auto;
      }      
    }

    &-logo:hover {
      cursor: pointer;
    }

    &-list {
      @include flex-row(flex-start, space-between);
      width: 20%;

      > .footer__main-item {
        text-align: left;
      }
    }

    &-media {
      width: 40%;
      text-align: center;

      > p {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &-items {
        @include flex-row(center, space-between);
        width: 30%;
        margin: 0 auto;

        > svg {
          font-size: 30px;
        }
      }
    }
  }

  &__site {
    > p {
      margin-top: 60px;
    }
  }

}